h1 {
  color: blue;
}
div {
  padding: 3px;
}
input {
  width: 180px;
  height: 30px;
}
input[type="button"] {
  color: white;
  background-color: blue;
  border-color: none;
}
input[type="button"]:hover {
  color: black;
  background-color: lightblue;
  border-color: none;
}
.green {
  color: green;
}
.red {
  color: red;
}
